<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Merriweather" rel="stylesheet">
body {
  	background: url(../images/mary-poppins-blog-1.jpg);
  	background-size: cover;
  	text-align: center;
  	margin-top: 200px;
  	color: #fff;
  	font-family: Helvetica;
}

h1, h3 {
	font-family: "Kaushan Script"
	font-weight: normal; 
}

h3 {
	font-size: 30px
	font-style: italic; 
}

ul {
	text-align: center;
	list-style-type: none;
}