@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Merriweather');

body {
  	text-align: center;
  	margin-top: 200px; 
	background: url(../images/mary-poppins-blog-1.jpg);
  	background-size: cover;
  	color: #fff;
  	font-family: Merriweather;
  	font-size: 18px;
  	line-height: 1.5 em;
}

h1 {
	font-family: "Kaushan Script"
	font-weight: normal; 
}

h3 {
	font-size: 30px
	font-style: italic; 
}

ul {
	text-align: center;
	list-style-type: none;
}